!!!
%html
  %head
    %title Sammy.js / A Small Web Framework with Class / RESTFul Evented JavaScript
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/

    %link{:href =>"/css/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

  %body#api
    #api-sidenav
      = haml :"docs/api/header", :layout => false
      = html :menu
    #content
      = yield
    = haml :footer, :layout => false
