!!!
%html
  %head
    %title Sammy.js / A Small Web Framework with Class / RESTFul Evented JavaScript
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/

    %link{:href =>"/css/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

  %frameset{:cols => "250, *"}
    %frameset{:rows => "200, *"}
      %frame{:src => "/docs/api/header/#{@version}", :name => 'header', :scrolling => 'no', :noresize => 'noresize', :frameborder => '0', :border => 0}/
      %frame{:src => 'menu.html', :name => 'menu', :noresize => 'noresize', :frameborder => '0', :border => 0}/
    %frame{:src => "#{@page}.html", :name => 'content', :noresize => 'noresize', :frameborder => '0', :border => 0}/
  %script{:src => "/javascripts/default.js", :type => 'text/javascript'}
