#footer
  %ul
    %li
      %a{:href => '/download'} Download it.
    %li
      %a{:href => '/docs'} Read The Docs.
    %li
      %a{:href => 'http://twitter.com/sammy_js'} Follow us on Twitter.
  %p
    &copy; 2010 Aaron Quint. All code provided is open source under the
    %a{:href => 'https://github.com/quirkey/sammy/raw/master/LICENSE'} MIT License
%script{:src => "/javascripts/default.js", :type => 'text/javascript'}
