#footer
  %ul
    %li
      %a{:href => '/download'} Download it.
    %li
      %a{:href => '/docs'} Read The Docs.
    %li
      %a{:href => 'http://twitter.com/sammy_js'} Follow us on Twitter.
  %p
    &copy;
    = Time.now.year
    Aaron Quint. All code provided is open source under the
    %a{:href => 'https://github.com/quirkey/sammy/raw/master/LICENSE'} MIT License
  %p
    This site is powered by
    %a{:href => 'http://www.sinatrarb.com'} Sinatra
    and is
    %a{:href => 'http://github.com/quirkey/sammyjs-org'} 100% Open Source

%script{:src => "/javascripts/default.js", :type => 'text/javascript'}
:javascript

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3763169-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
