<!DOCTYPE html>
<html>
<head>
  <title>Sammy.js</title>

  <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
  <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="bp">
  <div id="container">
    <div id="header">
      <h1>Sammy.js</h1>
      <h2>A Small Web Framework With Class</h2>
      <div id="download">
      </div>
    </div>
    <div id="main">
      <%= yield %>

    </div>
    <div id="footer">&copy; 2010 Aaron Quint, Quirkey NYC, LLC</div>
  </div>
  <script src="js/default.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
