!!!
%html
  %head
    %title
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/

    %link{:href =>"/css/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

    /
  %body
    #header-holder{:class => @small_header ? 'small' : nil}
      - size = @small_header ? 'small' : 'large'
      #header{:class => @small_header ? 'small' : nil}
        %h1
          %a{:href => '/'}
            %img{:src => "/images/sammy-logo-header-#{size}.png", :alt => "Sammy.js"}
        %h3
          %img{:src => "/images/slogan-#{size}.png", :alt => "A Small Web Framework With Class"}
        .download
          %h2
            %a{:href => '/download'}
              %img{:src => "/images/download-button.png", :alt => 'DOWNLOAD'}
          .download-info
            %p
              Latest Version:
              %strong= @current_version
            %p
              %a{:href => "http://github.com/quirkey/sammy"}
                Fork It on Github
    #nav-holder
      %ul#nav
        %li
          %a{:href => '/intro'} INTRODUCTION
        %li
          %a{:href => '/faq'} FAQ
        %li
          %a{:href => '/docs'} DOCS
        %li
          %a{:href => '/community'} COMMUNITY
        %li
          %a{:href => '/wiki'} WIKI
    #main
      = yield
    #footer
      %p
        &copy; 2010 Aaron Quint. All code provided is open source under the MIT License
    %script{:src => "/javascripts/default.js", :type => 'text/javascript'}
