%h2 FourOhFour

%h4
  Sorry, the page you were looking for could not be found. If you think this is incorrect, please add an issue
  %a{:href => 'https://github.com/quirkey/sammyjs-org/issues'} here.
