#header
  #logo
    %a{:href => '/', :target => 'all'}
      %img{:src => '/images/sammy-logo-api.png'}
  %h2
    %a{:href => '/download', :target => 'all'} Download
  %h4
    Viewing docs for
    %strong= @version
    \.
    %br/
    More docs
    %a{:href => '/docs'} here.
