@font-face {
  font-family: 'BebasRegular';
  src: url('/fonts/bebas/BEBAS.eot');
  src: local('Bebas'), local('Bebas'), url('/fonts/bebas/BEBAS.woff') format('woff'), url('/fonts/bebas/BEBAS.ttf') format('truetype'), url('/fonts/bebas/BEBAS.svg#Bebas') format('svg');
}
