// Import all the default blueprint modules so that we can access their mixins.
@import "partials/base";
@import "fonts";
@import "partials/syntax";

$top-margin: 16px;

// colors
$blue: #5F6E81;
$brown:#904B1C;
$light-blue: #A5ADB5;
$green: #246438;
$bright-blue: #376aac;

$bebas: 'BebasRegular', Helvetica, Arial, sans-serif;

@mixin tweed-bg($style: '') {
  background: url(/images/tweed-bg#{$style}.gif) #f1f0e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #444;
  background: #fff;
}
a:link {
  color: $blue;
  text-decoration: underline;
}
a:visited {
  color: $blue;
  text-decoration: none;
}
a:hover {
  color: $light-blue;
}

#header-holder {
  margin: $top-margin 0px 0px 0px;
  width: 100%;
  background: url(/images/header-large-bg.png) repeat-x;
  height: 185px;

  &.general {
    background: url(/images/header-small-bg.png) repeat-x;
    height: 107px;
  }
}

#header {
  @include container;
  position:relative;
  top: -$top-margin;
  h1 {
    width: 500px;
    height: 207px;
    z-index: 10;
  }
  h3 {
    position: absolute;
    width: 205px;
    height: 57px;
    top: 75px;
    left: 510px;
  }
  .download {
    background: url(/images/download-corner.png) no-repeat;
    position: absolute;
    width: 261px;
    height: 200px;
    top: 0px;
    left: 720px;

    h2 {
      position: relative;
      top: 70px;
      left: 42px;
    }
    .download-info {
      position: relative;
      top: 130px;
      left: 82px;
      width: 160px;
      color: $light-blue;
      font-size: 0.9em;
      a {
        color: #FFF;
      }
      strong {
        color: #CCCCCC;
      }
    }

  }
  // general
  &.general {
    h1 {
      width: 291px;
      height: 123px;
      margin-top: 8px;
    }
    h3 {
      width: 138px;
      height: 38px;
      top: 47px;
      left: 332px;
    }
    .download {
      background: url(/images/download-corner-small.png) no-repeat;
      width: 264px;
      height: 124px;
      h2 {
        top: 38px;
      }
      .download-info {
        top: 50px;
      }
    }
  }
}
#nav-holder {
  width: 100%;
  @include tweed-bg;
  border-bottom: 4px solid #dbdacf;
  #nav {
    @include container;
    @include inline-block-list;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    li {
      a {
        text-decoration: none;
        font: 1.2em/1.2em $bebas;
        @include text-shadow(#ccc, 1px, 1px);
        padding: 10px 25px;
        &:hover {
          background: #dbdacf;
          @include opacity(0.5);
          color: #333;
        }
      }
    }
  }
}

#footer {
  @include tweed-bg;
  width: 100%;
  border-top: 4px solid #dbdacf;
  text-align:center;
  padding: 10px 0px;
  margin-top: 20px;

  p {
    font-size: 0.7em;
  }
}
#main {
  @include container;
  margin-top: 20px;
  p {
    padding-bottom: 10px;
    line-height: 140%;
  }
  // index
  .intro {
    @include column(10, true);
    @include prepend(2);
    h2 {
      font: 4.4em/1.4em $bebas;
      color: $light-blue;
      @include text-shadow(#CCC, 1px, 1px, 4px);
    }
  }
  .intro-code {
    @include column(12);
  }

  .ctas {
    @include column(24, true);
    @include clearfix;
    margin-top: 20px;

    .cta {
      @include column(8);
      @include clearfix;
      font: 2.6em/1.0em $bebas;
      text-align: center;
      padding: 20px 0px;
      a {
        @include text-shadow(#ccc, 1px, 1px, 5px);
        text-decoration: none;
      }
      &.download a {
        color: $brown;
      }
      &.docs a {
        color: $green;
      }
      &.help {
        @include column(8, true);
        a {
          color: $bright-blue;
        }
      }
    }
  }
  .highlights-list {
    width: 100%;
    ol {
      @include no-bullets;
      @include clearfix;
      @include column(24, true);
      margin-top: 20px;
      li {
        @include clearfix;
        h3 {
          @include column(6);
          font: 2.2em/1.4em $bebas;
          color: $blue;
          text-align:right;
        }
      }
    }
    .highlight {
      @include column(18, true);
      @include tweed-bg(-light);
      p {
        padding: 10px 10px 20px 10px;
        color: #666;
      }
    }
  }

  // main content
  position: relative;
  &.general {
    p, pre, h3, h4, h5, ul, ol {
      @include span(18, last);
      position: relative;
      float: right;
    }
    h2 {
      font: 2.2em/1.4em $bebas;
      color: $blue;
      border-bottom: 1px solid #E5E5E5;
      margin-bottom: 20px;
    }
    h3 {
      color: $brown;
      font: 1.7em/1.4em $bebas;
      margin: 0px 0px 20px;
      // top links
      .top {
        a {
          color: $bright-blue !important;
          font-family: Arial, sans-serif !important;
          font-size: 0.8em;
          padding-left: 40px;
          text-decoration: none;
        }
      }
    }
    h4 {
      color: $light-blue;
      font-size: 1.4em;
      margin: 0px 0px 20px;
    }
    ul, ol {
      margin: 0px 0px 20px;
      list-style-position: inside;
      li {
        padding: 4px 0px;
      }
    }
    pre {
      margin: 0px 0px 20px;
    }
    .menu {
      @include column(6);
      position: absolute;
      ul {
        @include span(6, true);
        @include no-bullets;
        margin-left: 0px;
        li {
          a {
            display: block;
            text-decoration: none;
            padding: 10px;
            font: 1.6em/0.7em $bebas;
            color: #666; //$bright-blue;
            &:hover {
              @include tweed-bg(-light);
            }
          }
        }
      }
    }
  }
}

#api {
  #header {
    width: 250px;
    margin: 0px;
    position: static;
    top: 0;
    left: 0;
    #logo {
      width: 250px;
      height: 96px;
      overflow: visible;
      z-index: 100;
    }
    h2 {
      @include tweed-bg;
      font: 1.4em/0.6em $bebas;
      text-align: center;
      padding: 15px 0px;
    }
  }

  ol.api-menu {
    li {
      width: 235px;
    }
    h3 {
      font-weight: bold;
      font-size: 1em;
      border-top: 1px solid $light-blue;
      a {
        padding: 6px 0px 6px 4px;
        display: block;
        text-decoration: none;
      }
    }
    h4 {
      font-weight: normal;
      font-size: 0.8em;
      color: #999;
      padding-left: 4px;
    }
    li ol {
      padding-bottom: 8px;
    }
    li ol li a {
      display: block;
      padding: 2px 0px 0px 8px;
      font-size: 0.9em;
      text-decoration: none;
    }
  }

  .klass {
    margin: 15px;
    h2 {
      font-size: 1.9em;
      font-weight: bold;
      color: $brown;
      margin: 15px 0px;
      padding: 15px 0px 0px;
      border-top: 3px solid #DCDBD4;
      span {
        font-size: 70%;
        font-weight: normal;
        color: #666;
      }
    }
    h3.list {
      font-weight: normal;
      color: #999;
      margin: 10px 0px;
    }
    > ul {
      @include inline-list;
      @include no-bullets;
      margin-bottom: 20px;
      li {
        padding-right: 10px;
        a {
          font-size: 0.9em;
          text-decoration: none;
        }
      }
    }
    hr {
      margin: 15px 0px;
      color: #999
    }
    .attr {
      h4 {
        color: $bright-blue;
        font-weight: bold;
        font-size: 1.1em;
        margin: 10px 0px;
        span {
          font-weight: normal;
        }
      }
    }
  }
}
.meth {
  &.individual {
    margin: 15px;
    h3 {
      padding: 15px 0px 0px 0px;
      border-top: 3px solid #DCDBD4;
      strong {
        color: #CCC;
        font-size: 0.8em
      }
    }
  }
  h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0px 5px;
    a {
      text-decoration: none;
      color: $green;
    }
    span {
      color: #999;
      font-size: 0.9em;
    }
  }
  .links {
    font-size: 0.9em;
    padding: 5px 0px;
  }
  .doc {
    margin: 10px 0px 0px;
  }
  ul {
    margin: 0px 0px 0px 20px;
    li {
      padding: 5px 0px;
    }
  }
}
.doc {
  h3 {
    font-weight: bold;
    color: #444;
    margin: 10px 0px;
    font-size: 1.1em;
  }
  p {
    width: 600px;
    line-height: 150%;
    padding-bottom: 10px;
  }
}
