// Import all the default blueprint modules so that we can access their mixins.
@import "partials/base";
@import "fonts";


$top-margin: 16px;

// colors
$blue: #5F6E81;
$brown:#904B1C;
$light-blue: #A5ADB5;
$bebas: 'BebasRegular', Helvetica, Arial, sans-serif;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #444;
  background: #fff;
}
a:link {
  color: $blue;
  text-decoration: underline;
}
a:visited {
  color: $blue;
  text-decoration: none;
}
a:hover {
  color: $light-blue;
}

#header-holder {
  margin: $top-margin 0px 0px 0px;
  width: 100%;
  background: url(/images/header-large-bg.png) repeat-x;
  height: 185px;

  &.small {
    background: url(/images/header-small-bg.png) repeat-x;
    height: 107px;
  }
}

#header {
  @include container;
  position:relative;
  top: -$top-margin;
  h1 {
    width: 500px;
    height: 207px;
    z-index: 10;
  }
  h3 {
    position: absolute;
    width: 205px;
    height: 57px;
    top: 75px;
    left: 510px;
  }
  .download {
    background: url(/images/download-corner.png) no-repeat;
    position: absolute;
    width: 261px;
    height: 200px;
    top: 0px;
    left: 720px;

    h2 {
      position: relative;
      top: 70px;
      left: 42px;
    }
  }
  // small
  &.small {
    h1 {
      width: 291px;
      height: 123px;
      margin-top: 8px;
    }
    h3 {
      width: 138px;
      height: 38px;
      top: 47px;
      left: 332px;
    }
    .download {
      background: url(/images/download-corner-small.png) no-repeat;
      width: 264px;
      height: 124px;
    }
  }
}
#nav-holder {
  width: 100%;
  background: url(/images/tweed-bg.gif) #f1f0e7;
  border-bottom: 4px solid #dbdacf;
  #nav {
    @include container;
    @include inline-block-list;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    li {
      a {
        text-decoration: none;
        font: 1.2em/1.2em $bebas;
        @include text-shadow(#ccc, 1px, 1px);
        padding: 10px 25px;
        &:hover {
          background: #dbdacf;
          @include opacity(0.5);
          color: #333;
        }
      }
    }
  }
}
#main {
  @include container;

  p {
    padding-bottom: 10px;
    line-height: 140%;
  }
}
