pre, code {
  font-family: Monaco, Courier, mono-space;
  background: #F6F6F6;
}
pre {
  padding: 5px;
  border-left: 1px solid #E5E5E5;
  line-height: 140%;
  margin: 10px 0px;
}
code {
  font-size: 0.8em;
}
pre.prettyprint {color:#000;font-weight:normal;font-style:normal;}
pre.prettyprint .str{color:#BF7D47;}
pre.prettyprint .kwd{color:#5599CE; }
pre.prettyprint .com{color:#666; font-style: italic;}
pre.prettyprint .typ{color:#C75C32;}
pre.prettyprint .lit{color:#a900a9;}
pre.prettyprint .pun{color:#333;}
pre.prettyprint .pln{color:#426D9E;}
pre.prettyprint .tag{color:#008;}
pre.prettyprint .atn{color:#606;}
pre.prettyprint .atv{color:#080;}
pre.prettyprint .dec{color:#ec7f15;}
